@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Itim&display=swap');
html {
  font-size: 62.5%;
  color: black;
}

@layer base {
  @font-face {
    font-family: 'Unown';
    src: url(./asset/font/Unown.ttf) format('truetype');
  }
}

.font-alex {
  font-family: 'Alex Brush', cursive;
}
.font-itim {
  font-family: 'Itim', cursive;
}

#sort {
  appearance: none;
}
select option {
  background: white;
  color: black;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}
.fix_hover::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 1.5rem;
  top: -10px;
  right: 0px;
  background: transparent;
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  padding: 26px 16px;
  border-radius: 6px;
  min-width: 300px;
}
