@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@1,700&display=swap');
html {
  font-size: 62.5%;
  color: black;
}

@layer base {
  @font-face {
    font-family: 'Unown';
    src: url(./asset/font/Unown.ttf) format('truetype');
  }
  @font-face {
    font-family: 'BloodDrip';
    src: url(./asset/font/plasdrip.ttf) format('truetype');
  }
  @font-face {
    font-family: 'segmented7';
    src: url(./asset/font/DSEG7Classic-Bold.woff) format('woff');
  }

  @font-face {
    font-family: 'segmented14';
    src: url(./asset/font/DSEG14Modern-Italic.woff) format('woff');
  }
}
#homepage-animation2 {
  animation-delay: -15s;
}
.animation404 {
  animation-fill-mode: both;
}
.postshadow {
  filter: drop-shadow(0 3px 0 rgba(0, 0, 0, 0.4));
}
.img2 {
  clip-path: polygon(24.8% 60%, 58% 79.5%, 57.5% 85.8%, 43.8% 91%, 35% 90%, 2.7% 70.5%, 2.7% 64%, 13.3% 59.5%);
}
.postbox {
  clip-path: polygon(
    0.5% 7%,
    85% 7%,
    86.8% 0,
    88.6% 7%,
    99.5% 7%,
    100% 7.5%,
    100% 99.5%,
    99.5% 100%,
    0.5% 100%,
    0 99.5%,
    0 7.5%
  );
}
.postbox2 {
  clip-path: polygon(
    0.5% 7%,
    85.2% 7%,
    87% 0,
    88.8% 7%,
    99.5% 7%,
    100% 7.5%,
    100% 99.5%,
    99.5% 100%,
    0.5% 100%,
    0 99.5%,
    0 7.5%
  );
}
.font-alex {
  font-family: 'Alex Brush', cursive;
}
.font-itim {
  font-family: 'Itim', cursive;
}

.font-playfair {
  font-family: 'Playfair', serif;
}
select option {
  background: white;
  color: black;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}
.fix_hover::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 1.5rem;
  top: -10px;
  right: 0px;
  background: transparent;
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  padding: 26px 16px;
  border-radius: 6px;
  min-width: 300px;
}

.buttons-below .buttons {
  flex-direction: row;
  position: absolute;
  bottom: 20px;
  gap: 30px;
  margin-left: 100px;
}

.buttons-below .post {
  position: relative;
  padding-bottom: 100px;
}
